.open-sans-text{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.header
{
    background-image: url('../image/developer.png'), url('../image/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Shared styles */
.secondary-bg
{
    background-color: #FFF8F3 ;
}
.btn-primary
{
 background-color: #FD6E0A ;
 padding : 18px 35px;
 color: white;
 font-weight: bolder;
 font-size: 20px;
 border: none;
 border-radius: 5px;
}
.dark-2
{
    color: #474747 ;
}
.nav-logo-primary
{
    color:#FD6E0A
}

nav
{
display: flex;
align-items: center;
justify-content: space-between;
margin: 20px 50px 20px 230px ;

}

nav ul
{
    display: flex;
    align-items: center;
}
nav ul li
{
    list-style: none;
    margin-right: 50px;
}
nav li a
{
    text-decoration: none;
   
    font-size: 20px;
}

.nav-logo
{
    font-weight: 800;
    font-size: 40px;
}
.nav-logo-primary
{
    color:#FD6E0A
}
.banner
{
    display: flex;
    margin: 0 35px 0 230px;
    justify-content: space-between;
    
}
.banner-content
{
    max-width: 580px;
}
.banner-greetings
{
    font-size: 45px;
    font-weight: 600;
}
.banner-title
{
    font-size: 85px;
    font-weight: 800;
}
.banner-description
{
    font-size: 18px;
    font-weight: 200;
}
.banner-dp
{
    width: 580px;
}
.second-btn
{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.contact-btn
{
    margin-left: 10px;
    background-color: beige;
    padding : 18px 50px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
main section
{
    margin-top: 130px;
    text-align: center;
}
main
{
    max-width: 1140px;
    margin: 0 auto;

}
.about
{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.info
{
    display: flex;
    justify-content: space-between;

}
.what-i-do
{
    text-align: center;
    border-radius: 10px;

}
.skills-container
{
    display: flex;
    gap: 24px;
    text-align:start;
   
}
.skill
{
    
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);  
    
}
.resume-container
{
    display: flex;
    gap:24px

}
.resume-column
{
    text-align: left;

}
.experience-sub-title
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description , .experience-sub-title
{
    color:#757575;
}
hr
{
    margin: 30px 0;
}

.cv
{
    margin-top: 50px;
}
.footer
{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}
.footer-column
{
    width: 50%;
}
input[type="text"], input[type="email"], footer textarea
{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border-radius: 5px;
    height: 60px;
    display: block;
    border: none;
    background-color: white;
}